/* 
	Create By Cara on 2017-10-9
 */
*{
	margin: 0 auto;
	padding: 0;
}
html,body{
	position: relative;
}
.wrapper {
	width: 200px;
	height: 200px;
	position: relative;
	border: thin solid black;
}
div.wrapper > div{
	text-align: center;
	color: #fff;
}

/* 绝对定位居中 */
.absolute-center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: deepskyblue;
	height: 100px;
	line-height: 100px;
}

/* 固定定位居中 */
.fixed-center{
	width: 200px;
	height: 200px;
	position: fixed;;
	z-index: 999;
	background: rgba(0, 0, 0, .3);
	top: 0; 
	left: 0;
	bottom: 0; 
	right: 0; 
	margin: auto;
	color: #fff;
}

/* 绝对定位居左 */
.absolute-left {
	position: absolute;
	left: 20px;
	right: auto;
	margin: auto;
	width: 150px;
	height: 80px;
	background: red;
	color: #fff;
	text-align: center;
	line-height: 80px;
}
/* 绝对定位居右 */
.absolute-right {
	position: absolute;
	left: auto;
	right: 20px;
	margin: auto;
	width: 150px;
	height: 80px;
	background: green;
	color: #fff;
	text-align: center;
	line-height: 80px;
}

/* 自适应绝对定位居中 */
.wrapper-responsive{
	position: relative;
	top: 300px;
	width: 200px;
	height: 200px;
	border: thin solid black;
}
.absolute-responsive{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 60%;
	height: 60%;
	min-width: 50px;
	max-width: 150px;
	padding: 10px;
	text-align: center;
	color: #fff;
	background: skyblue;
}

/* tabel 居中 */
.wrapper-table{
	margin-top: 600px;
	display: table;
	height: auto;
	width: 200px;
	height: 200px;
	border: thin solid black;
}
.table-center{
	width: 80px;
	background: orange;
	color: #fff;
}

/* tabel-cell 居中 */
.wrapper-table-cell{
	margin-top: 600px;
	display: table-cell;
	height: auto;
	width: 200px;
	height: 200px;
	border: thin solid black;
	vertical-align: middle;
}
.table-center-cell{
	width: 100px;
	background: #FFD34E;
	color: #fff;
}

/* 负外边距 */
.wrapper-margin{
	position: relative;
	top: 100px;
	border: thin solid black;
	width: 200px;
	height: 200px;
}
.margin-center{
	width: 100px;
	height: 100px;
	background: #105B63;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px auto auto -50px;
	color: #fff;
	text-align: center;
	line-height: 100px;
}

/* 变形 */
.wrapper-transform{
	position: relative;
	top: 200px;
	border: thin solid black;
	width: 200px;
	height: 200px;
}
.transform-center{
	width: 100px;
	height: 100px;
	background: #BD4932;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

/* Flexbox*/
.wrapper-flex{
	margin-top: 500px;
	width: 200px;
	height: 200px;
	border: thin solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center{
	background: grey;
	color: #fff;
	text-align: center;
}